<!DOCTYPE html> 
<html lang="en" ng-app="EMSApp">

<!--head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employees Management System</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/main.css"/>

</head> -->
 
<body ng-cloak ng-controller="GroceryController as ctrl">
    <div class="container">
        <div><h2>Grocery Management System -- <span my-current-time="ctrl.format"></span> </h2>
        </div>
        <div class="jumbotron">
            <!-- search -->
                <form name="ctrl.searchForm" ng-submit="ctrl.searchGrocery()">
                    <div class="input-group">
                        <input type="text" name="keyword" id="keyword" class="form-control" ng-model="ctrl.searchKeyword" placeholder="e.g. Kenneth"/>
                      <span class="input-group-addon"> 
                                      <select > 
                                        <option value="" disabled selected>Search by</option>
                                        <option value="brand">Brand Name</option>
                                        <option value="name">Product Name</option>
                                    </select>
                                <i class="fa fa-search"></i>
                        </span>
                        <!-- sort -->
                        <div class="col-lg-6">
                            <select ng-model="ctrl.orderby" class="form-control">
                                <option value="" disabled selected>Sort by</option>
                                <option value="ASC">Ascending</option>
                                <option value="DESC">Descending</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <hr/>
                    <!-- search button-->
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-primary">Search</button>
                    <!-- Add button to be located at the top of the list-->    
                        <button type="button" ng-click="ctrl.addGrocery('lg')" class="btn btn-primary">Add</button>
                    </div>
                </form>
        </div>
        
        <!-- display list of 20 items by default in alphabetical order -->
        <div class="list" ng-show="ctrl.grocery">
            <div class="row" ng-show="ctrl.grocery.length > 0">
                <div class="list header col-lg-12 col-md-12 col-sm-12">
                        <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" items-per-page="ctrl.itemsPerPage" class="pagination-sm" max-size="ctrl.maxsize" boundary-link-numbers="true" rotate="false" ng-change="ctrl.pageChanged()"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 grocery" ng-repeat="grocery in ctrl.grocery">
                    <h4><a href="#" class="thumbnail" ><img src="{{grocery.photourl}}"/></a></h4>
                    <h4><label>Product Name: </label> {{grocery.name}}</h4>
                    <h4><label>Brand: </label> {{grocery.brand}}</h4>

                <!-- <h4><label>Gender: </label> {{employee.gender | customGender}}</h4>
                    <h4><label>Birth Date: </label> {{employee.birth_date | date:medium}}</h4>
                    <h4><label>Hire Date: </label> {{employee.hire_date | date:medium}}</h4>-->
                    <h4>
                        <button type="button" ng-click="ctrl.editGrocery(grocery.id, 'lg')" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></button> </h4>
                <!--    <button type="button" ng-click="ctrl.deleteEmployee(employee.emp_no, 'lg')" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </h4>-->
                </div>
            </div>
        </div>
    </div>
    
</body>

 <!--
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

 
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

 
<script type="text/javascript" src="/app/app.module.js"></script>
<script type="text/javascript" src="/app/app.filter.js"></script>
<script type="text/javascript" src="/app/time.directive.js"></script>
<script type="text/javascript" src="/app/app.service.js"></script>
<script type="text/javascript" src="/app/app.controller.js"></script> 

 -->

</html>